/* Useful code for checking boxes*/
/*
* {
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
} */

.container {
	text-align: center;
	width: 100%;
}

.images {
	margin-top: 8%;
}

.search {
	/*stretch searchbar*/


}

.submit {

}

#text {
	padding: 10px 8%;
}

#button {
	padding: 5px 20px;
	margin-left: 7px;
	margin-right: 7px;
}
